body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("Imagens/img4.jpg"); 
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: rgba(65, 170, 179, 0.7); 
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #ffd700; /
}

.content {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .menu.show {
        display: flex;
    }

    .menu li {
        margin: 0;
        text-align: center;
        padding: 10px;
    }

    .navbar {
        justify-content: space-between;
        align-items: center;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
    }
}
